body {
	background: rgb(224, 235, 235);
}

#t{
	text-shadow: 3px 2px red;
	font-size:30px;
}
#h{
	text-shadow: 3px 2px rgb(51, 102, 153);
	font-size:30px;
}

.q{
	font-size:20px;
	text-decoration: underline;
}
