{%extends "layout.html" %}
{% set active_page = "p3" %}
{% block title %}{% endblock %}
{% block content %}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>

<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Number of active voters in each voter party in 2016 primary election"
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y} voters",
		dataPoints: [
			{ y: {{no}}, label: "No Preference" },
			{ y: {{un}}, label: "Uncommitted"  },
			{ y: {{dem}}, label: "Democratic" },
			{ y: {{rep}}, label: "Republican" }
		]
	}]
});
chart.render();

}
</script>
{% endblock %}
