{%extends "layout.html" %}
{% set active_page = "p2" %}

{% block title %}{% endblock %}
{% block content %}



<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	backgroundColor: "#E2EBEB",
	title:{
		color:"rgb(120, 10, 50)",
		text:"How well did each candidate do in their home state?"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		gridColor: "rgba(255,50,50,.3)",
		title: "Number of Votes"
	},
	data: [{
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: [
			{{graphpoint}}
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
{% endblock %}
