{%extends "layout.html" %}
{% set active_page = "p2" %}

{% block title %}{% endblock %}
{% block content %}

<script>
window.onload = function () {

//Better to construct options first and then pass it as a parameter
var options = {
	animationEnabled: true,
	backgroundColor: "#E2EBEB",
	title: {
		text: "How well did each candidate do in their home state?",                
		fontColor: "Peru"
	},	
	axisY: {
		tickThickness: 0,
		lineThickness: 0,
		valueFormatString: " ",
		gridThickness: 0                    
	},
	axisX: {
		tickThickness: 0,
		lineThickness: 0,
		labelFontSize: 18,
		labelFontColor: "Peru"				
	},
	data: [{
		indexLabelFontSize: 15,
		toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y}</strong></span>",
		indexLabelPlacement: "inside",
		indexLabelFontColor: "white",
		indexLabelFontWeight: 600,
		indexLabelFontFamily: "Verdana",
		color: "#62C9C3",
		type: "bar",
		dataPoints: [
			{{graphpoint}}
		]
	}]
};

$("#chartContainer").CanvasJSChart(options);
}
</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
{% endblock %}
