{%extends "layout.html" %}
{% set active_page = "p3" %}
{% block title %}party info{% endblock %}
{% block content %}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script>
window.onload = function() {
var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", //theme: "dark2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	backgroundColor: "#E2EBEB",
	title: {
		text: "Number of active voters in each voter party in 2016 primaries."
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y} voters",
		dataPoints: [
			{ y: {{no}}, label: "No Preference" , color: "rgb(200,50,200)"},
			{ y: {{un}}, label: "Uncommitted" , color:"rgb(80,50,150)"},
			{ y: {{rep}}, label: "Republican" , color:"rgb(180,10,25)"},
			{ y: {{dem}}, label: "Democratic" , color:"rgb(4,90,150)"}
		]
	}]
});
chart.render();
}
</script>
{% endblock %}
